# DOMAIN
DOMAIN_NAME=kziari.42.fr

# MYSQL
MYSQL_DATABASE=
MYSQL_USER=

# WORDPRESS ADMIN
WP_ADMIN_USER=      # must NOT contain "admin"
WP_ADMIN_EMAIL=

# WORDPRESS USER
WP_USER=
WP_USER_EMAIL=

# SITE
SITE_TITLE=
